# 1. Preprocessing data

## Imports

In [1]:
import os

import pandas as pd
import numpy as np
import time
import bisect
import calendar
import gc

import warnings
warnings.filterwarnings("ignore");

RAND = 10

# Описание данных

Материалы (1 415 MB)

public_train.pqt
3 MB	

competition_data_final_pqt.zip
1 405 MB	

Context_Baseline_Public.ipynb
1 MB	

submit_2.pqt
в этом файле id, по которым нужно предсказать пол и возраст
2 MB	

sample_submission.csv
По возрасту классы: Класс 1 —19-25, Класс 2 —26-35, Класс 3 —36-45, Класс 4 —46-55, Класс 5 —56-65, Класс 6— 66+ 
4 MB

**Описания полей**

- Описание колонок файла с данными:

- 'region_name' – Регион

- 'city_name' – Населенный пункт

- 'cpe_manufacturer_name' – Производитель устройства

- 'cpe_model_name' – Модель устройства

- 'url_host' – Домен, с которого пришел рекламный запрос

- 'cpe_type_cd' – Тип устройства (смартфон или что-то другое)

- 'Cpe_model_os_type' – Операционка на устройстве

- 'price' – Оценка цены устройства

- 'date' – Дата

- 'part_of_day' – Время дня (утро, вечер, итд)

- 'request_cnt' – Число запросов одного пользователя за время дня (поле part_of_day)

- 'user_id' – ID пользователя

**Описание колонок файла с таргетами:**

- 'age' – Возраст пользователя

- 'Is_male' – Признак пользователя : мужчина (1-Да, 0-Нет)

- 'user_id' – ID пользователя

---
# Расположение папок с данными.

In [2]:
LOCAL_DATA_PATH = "../data"
DATA_FILE = 'competition_data_final_pqt'

# целевые переменные
TARGET_FILE = 'public_train.pqt'

# id, по которым нужно предсказать пол и возраст
SUBMIT_FILE = 'submit_2.pqt'

# папка, куда будут сохраняться предобработанные данные
PREP_DATA = 'preprocessed_data'

In [3]:
LOCAL_DATA_PATH_mts = "../data/ml_cup_data"

---
### Пример, как должен выглядеть ответ.

Baseline (id, возраст и пол(вероятность))

In [4]:
# sample_submission.csv
# По возрасту классы: Класс 1 —19-25, Класс 2 —26-35, Класс 3 —36-45, Класс 4 —46-55, Класс 5 —56-65, Класс 6— 66+

sample_submission = pd.read_csv(f"{LOCAL_DATA_PATH_mts}/sample_submission.csv")
sample_submission.head()

   user_id  age   is_male
0        6    2  0.330467
1       11    5  0.725477
2       19    1  0.240190
3       27    2  0.536798
4       32    3  0.471325

## Заданные id для предсказания.
"id_to_submit"

в этом файле id, по которым нужно предсказать пол и возраст и загрузить submit

In [5]:
# в этом файле id, по которым нужно предсказать пол и возраст
# target_submit = pd.read_parquet('..\context_data\submit_2.pqt')

id_to_submit = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{SUBMIT_FILE}').reset_index(drop=True)
id_to_submit.info()
id_to_submit.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144724 entries, 0 to 144723
Data columns (total 1 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  144724 non-null  int64
dtypes: int64(1)
memory usage: 1.1 MB

        user_id
144719   415284
144720   415285
144721   415286
144722   415306
144723   415315

---
# Подготовка данных и форматирование.

## 1. Подготовка целевых признаков.

### 1.1. Первичный взгляд на целевые переменные:

In [6]:
targets = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{TARGET_FILE}').reset_index(drop=True)
targets.tail()

         age is_male  user_id
269995  49.0       1   225374
269996  22.0       1    25776
269997  28.0       0   148131
269998  28.0       1   205570
269999  68.0       1   103148

In [7]:
targets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   age      269999 non-null  float64
 1   is_male  269958 non-null  object
 2   user_id  270000 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.2+ MB

In [8]:
targets.isna().sum()[targets.isna().sum() > 0] / targets.shape[0]

age        0.000004
is_male    0.000156
dtype: float64

In [9]:
targets.isna().sum()

age         1
is_male    42
user_id     0
dtype: int64

In [10]:
nan_vals = targets[['age',
                   'is_male']][targets.values == 'NA'].value_counts().sum()

print(f'Всего {targets.shape[0] - (targets.dropna().shape[0] - nan_vals)} \
пропусков и незаполненных значений,\nэто \
{round((targets.shape[0] - (targets.dropna().shape[0])+ nan_vals) / targets.shape[0], 3) } \
% от всего Дата Сета ')

Всего 5675 пропусков и незаполненных значений,
это 0.021 % от всего Дата Сета

In [11]:
# пропуски наглядно
targets[targets.values == 'NA'].reset_index(drop=True).tail()

       age is_male  user_id
5627  29.0      NA   205306
5628  49.0      NA    95348
5629  49.0      NA   350886
5630  23.0      NA   341849
5631  22.0      NA   208048

**т.к. в условии задачи классифкация возраста начинается с 19, то просто дропаю всех, кто младше  19**

In [12]:
print(f"Всего is_male < 19 = {targets[['age']][targets.age.values < 19].value_counts().sum()}")

Всего is_male < 19 = 1077

In [13]:
targets = targets.drop(targets.query("age < 19").index)
targets.tail()

         age is_male  user_id
269995  49.0       1   225374
269996  22.0       1    25776
269997  28.0       0   148131
269998  28.0       1   205570
269999  68.0       1   103148

In [14]:
targets.isna().sum()

age        1
is_male    0
user_id    0
dtype: int64

In [15]:
targets.dropna(inplace=True)
targets.isna().sum()

age        0
is_male    0
user_id    0
dtype: int64

### 1.2. Разбиваю возраст по классам.
targets['age_target']

In [16]:
def age_bucket(x):
    """
    Разбиваем возраст в виде новых классов
    "Класс 1: 19-25,..."
    """
    return bisect.bisect_left([25,35,45,55,65], x)

Классификация возрастного признака

In [17]:
targets['age_target'] = targets['age'].map(age_bucket)
targets.head()

    age is_male  user_id  age_target
0  31.0       1   350459           1
1  35.0       1   188276           1
2  41.0       0    99002           2
3  33.0       0   155506           1
4  54.0       0   213873           3

### 1.3. Запись предобработанного таргета.

Получаю 2 таргета:

- targets_age: выходит немного больше, т.к. я не удалял полностью из общего датасета строки с незаполненными значениями в ввиде('NA') в признаке is_male, а лишние данные при обучении не помешают =)
- targets_is_male: оставляю только заполненные значения.

In [18]:
targets_age = targets[['user_id','age_target']].reset_index(drop=True)
targets_age[['age_target']] = targets_age[['age_target']].astype('int8')
targets_age.tail()

        user_id  age_target
268917   225374           3
268918    25776           0
268919   148131           1
268920   205570           1
268921   103148           5

In [19]:
targets_is_male = targets[['user_id','is_male']]
targets_is_male = targets_is_male.drop(
                            targets_is_male.query(
                                "is_male == 'NA'").index).reset_index(drop=True)

targets_is_male['is_male'] = targets_is_male['is_male'].astype('int8')
targets_is_male.tail()

        user_id  is_male
263503   225374        1
263504    25776        1
263505   148131        0
263506   205570        1
263507   103148        1

In [20]:
############################
# save new df with targets #
############################

targets_age.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_age_prep.parquet")
targets_is_male.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_is_male_prep.parquet")

---

In [19]:
def prep_targets():
    """
    Функция предобработки таргета
    """
    
    #load
    targets = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{TARGET_FILE}').reset_index(drop=True)

    # по условию отбрасываем всех, кто младше 19
    targets = targets.drop(targets.query("age < 19").index)

    # убираем пропуски
    targets.dropna(inplace=True)

    # добавляем новый признак с "классификацией" возрастов
    targets['age_target'] = targets['age'].map(age_bucket)

    # targets_age
    targets_age = targets[['user_id','age_target']].reset_index(drop=True)
    targets_age[['age_target']] = targets_age[['age_target']].astype('int8')

    # targets_is_male
    targets_is_male = targets[['user_id','is_male']]
    targets_is_male = targets_is_male.drop(
                                targets_is_male.query(
                                    "is_male == 'NA'").index).reset_index(drop=True)

    targets_is_male['is_male'] = targets_is_male['is_male'].astype('int8')

    # saving
    targets_age.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_age_prep.parquet")
    targets_is_male.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_is_male_prep.parquet")
    
    del targets, targets_age, targets_is_male
    gc.collect();

In [20]:
prep_targets()

## 2. Функции по предобработке данных.

In [21]:
part_list = os.listdir(path=f'./{LOCAL_DATA_PATH_mts}/competition_data_final_pqt')
part_list

['part-00000-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00001-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00002-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00003-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00004-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00005-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00006-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00007-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00008-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet',
 'part-00009-aba60f69-2b63-4cc1-95ca-542598094698-c000.snappy.parquet']

In [22]:
# df_ = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{DATA_FILE}/{part_list[0]}')[:100000]
# del df_

## 2.1 Функции.

В некоторых ф-циях сокращаю типы данных для уменььшения финального размера.

Посмотрев, с помощью .describe() несколько файлов, я выбрал int32(Целые числа в диапазоне от -2147483648 по 2147483647, (размером 4 байта)), потому что в файлах не было чисел больше 2млрд

In [22]:
def unite_categories(df: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    """
    Ф-ция unite_categories
    объединяет повторяющиеся имена производителей смартфонов,
    полные названия фирм и названия операционок
    
    Parametrs 
    ----------
    df - датасет с колонками
    'user_id', 'cpe_manufacturer_name', 'cpe_model_os_type'

    Returns
    -------
    Предобработанный датасет c колонками
    'user_id', 'cpe_manufacturer_name', 'cpe_model_os_type'

    return pd.core.frame.DataFrame
    """
    
    df = df[['user_id', 'cpe_manufacturer_name', 'cpe_model_os_type']]
    
    df["cpe_manufacturer_name"].replace("Huawei Device Company Limited",
                                        "Huawei", inplace=True)
    df["cpe_manufacturer_name"].replace(
        "Realme Chongqing Mobile Telecommunications Corp Ltd",
        "Realme", inplace=True)
#     df["cpe_manufacturer_name"].replace(
#         "Realme Mobile Telecommunications (Shenzhen) Co Ltd",
        "Realme", inplace=True)
    df["cpe_manufacturer_name"].replace("Sony Mobile Communications Inc.",
                                        "Sony", inplace=True)
    df["cpe_manufacturer_name"].replace("Honor Device Company Limited",
                                        "Honor", inplace=True)
    
    df["cpe_model_os_type"].replace("Apple iOS",
                                    "iOS", inplace=True)  
    
    df = df.drop_duplicates(subset=['user_id'])
    
    gc.collect() 
    print('unite_categories done')
    
    return df

In [23]:
def preparation_numbers(df: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    """
    Ф-ция preparation_numbers
    заполняет пропуски стоимости ус-ва,
    создаёт новые признаки частей дня
    и подсчитывает общее количество переходов по ссылкам
    для новых признаков по каждому user_id
    
    Parametrs 
    ----------
     df - датасет с колонками
     'price','part_of_day','request_cnt','user_id'
     
    Returns
    -------
    Предобработанный датасет c нов. колонками
    'price', 'user_id', 'day', 'evening', 'morning', 'night'
    
    return pd.core.frame.DataFrame
    """    

    # отбор нужных признаков
    df = df[['price','part_of_day','request_cnt','user_id']]
    
    # Заполнение пропусков стоимости медианой
    df["price"] = df["price"].fillna(np.nanmedian(df["price"].values))    
    
    # Создание новых признаков с общим количеством запросов URL в опред. части дня
    df_part_of_day = df.pivot_table(index='user_id',
                                    columns='part_of_day',
                                    values='request_cnt',
                                    aggfunc='count'
                                   ).reset_index().fillna(0)

    df = df.merge(df_part_of_day, how="inner", on=["user_id"])
    
    df = df.drop_duplicates(subset=['user_id'])
    df = df.drop(columns=['part_of_day','request_cnt'], axis=1)
    
    gc.collect()
    print('preparation_numbers done')
    
    return(df)

In [24]:
def add_day_names(df: pd.core.frame.DataFrame) -> pd.core.frame.DataFrame:
    """
    Ф-ция add_day_names
    создает новые признаки и превращает даты в дни недели,
    подсчитывает количество переходов по ссылкам
    в день недели по каждому user_id
    
    Parametrs 
    ----------     
    df - датасет с колонками
    'date','request_cnt','user_id'
     
    Returns
    -------
    Предобработанный датасет c нов. колонками
    'user_id' 'fri' 'mon' 'sat' 'sun' 'thu' 'tue' 'wed'

    return pd.core.frame.DataFrame     
    """
    
    df = df[['date','request_cnt','user_id']]
    
    df['day_name'] = df['date'].apply( lambda x: x.strftime('%a').lower())

    df = df.pivot_table(index='user_id',
                                 columns='day_name',
                                 values='request_cnt', # ?
                                 aggfunc='count').reset_index().fillna(0)

    gc.collect()
    print('add_day_names done')
    
    return(df)

In [25]:
def top_url_filter(df: pd.core.frame.DataFrame, n=100) -> pd.core.frame.DataFrame:
    """
    Ф-ция top_url_filter
    1) слежение за id_to_submit в текущем df
    что бы не потерять нужные submit_id
    2) Подсчёт кол-ва переходов по url в текущем df
    3) отбор самых запрашиваемых URL
    где кол-во переходов по url > n раз.
    4) оставляем в рабочем датасете только топовые URL
    5) создаём датасет, где 1 строка это 1 id и все топовыве URL в виде новых признаков
    6) проверка получившегося датасета на пропуски submit_id по 1ому шагу
    
    Parametrs 
    ----------
    submit_size - количество id_to_submit в текущем df
    filtering_df - df с урлами и ощим кол-вом переходов по ним
    top_urls - df c отфильтрованными url
    df_new - df где сначала оставляем только топовые url, а потом 
    деламе из них новыве признаки
    
    фильтрация незначительных URL
    
    df - 
     
    Returns
    -------
    Предобработанный датасет c нов. колонками
    'user_id' и много url в виде признаков

    return pd.core.frame.DataFrame     
    """
    
    print('top_url_filter start')
    
    # n_filter 50 = 5024 columns не хватает памяти для склейки всех df
    # n_filter 70 = 4030 columns
    # n_filter 100 = 3086 columns
    # n_filter 130 = 2609 columns
    n_filter = int(n)
    
    # 1)
    submit_size = df.merge(id_to_submit,
                          how="inner",
                          on=["user_id"]).drop_duplicates(subset=['user_id']).shape[0]
    print(f"-submits in curr dataset {submit_size}")
    
    
    # 2)
    filtering_df = df['url_host'].value_counts().reset_index(name='url_count')
    filtering_df.rename(columns = {'index' : 'url_host'}, inplace = True)
    
    # 3)
    top_urls = filtering_df[filtering_df['url_count'] > n_filter].drop(columns=['url_count'], axis=1)
    
    
    # костыль обыкновенный! отобранные вручную мусорные ключевые значения: 
    # реклама, баннеры, статистики и прочее
    # убирает некоторые сабмит id
#     top_urls = top_urls[top_urls["url_host"].str
#                             .contains("1|2|3|4|5|6|7|8|9|0|info|stream|cloud|map|site|fss|adhigh|qq|\
#                                       static|backbook|lk.|thealloha|.online|tinyurl|muzmo|zagonko|\
#                                       stories|club|duck|xml|syndicat|platform|blocked|viiadr|traffic|\
#                                       mycdn|cdn|hd.|mp3|link|webattach|interesbook|index|help|comment|\
#                                       quickaccess|dud|alloha|appnext|banners|ssp|adfox|relap|srv|google|\
#                                       api|-|sun9|userapi|advert|ad.|away.|metrics|metrika|img|betweendigital|\
#                                       bigo|payments|recommend|microsoft|viewer|block|auth|cootek|turbopages|\
#                                       doubleclick|avatars|promo|adriver|BUZZOOLA|buzzoola|req.|cpg|startapp|\
#                                       dan.com|ooo|optnx|kodik|feedburner|aniqit|app.|player|login|widget|\
#                                       tevas|video|wiki")== False]

    top_urls = top_urls[top_urls["url_host"].str
                            .contains("--")== False]


    # 4)
    df_new = df.merge(top_urls, how='inner', on=["url_host"])

    # 5)
    df_new = df_new.pivot_table(index='user_id',
                                    columns='url_host',
                                    values='request_cnt',
                                    aggfunc='count').reset_index().fillna(0)

    print(f"-df_new with top_url {df_new.shape}")
    
    # 6) проверяем получившийся df на пропуски submit_id
    new_submit = df_new.merge(id_to_submit, how="inner", on=["user_id"]).shape[0]
    print(f"-new_submit.shape {new_submit}")
    
    # если вдруг потеряется submit_id, то уменьшаем n_filter  
    # и submit_id может появиться
    while submit_size != new_submit:
        n/= 1.3
        top_url_filter(df,n)

    gc.collect()
    print(f"top_url_filter done\n")
    
    return(df_new)

In [30]:
# top = top_url_filter(df_, 75)
# top

### 2.2. Цикл предобработки и сохранения всех частей данных.

In [31]:
%%time

prep_df_with_submit = 0

for i in range(len(part_list)):
    print(f'Data preparation part {i}')
    
    # чтение данных
    temp_df = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{DATA_FILE}/{part_list[i]}')
    print(f"loaded df.shape {temp_df.shape}\n")

    # 1) Подготовка категориальных признаков и частей дня
    prep_cat = unite_categories(temp_df)
    
    # 2) Подготовка числовых признаков
    prep_nums = preparation_numbers(temp_df)

    # 3) Подготовка признаков от даты ко дню недели
    prep_days = add_day_names(temp_df)
    
    # 4) Отбор самых запрашиваемых URL
    prep_url = top_url_filter(temp_df, 70)
    
    # Объединение подготовленных данных по id
    merge1 = prep_cat.merge(prep_nums, how="inner", on=["user_id"])
    merge2 = merge1.merge(prep_days, how="inner", on=["user_id"])
    
    temp_df = prep_url.merge(merge2, how="inner", on=["user_id"])
    print("merge done")
    print(f"df.isna {temp_df.isna().sum().sum()}\n")
    
    
    # Запись подготовленного датасета в файл
    temp_df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}//preprocessed_part_{i}.parquet")
    
    # Проверка на потерю сабмитов после отбора признаков
    prep_df_with_submit += temp_df.merge(id_to_submit,
                                        how="inner",
                                        on=["user_id"]
                                       ).drop_duplicates(subset=["user_id"]).shape[0]
    
    print(f"preprocessed_data_part_{i} shape {temp_df.shape}\nsave on disc.")
    print("-------------\n")
    

if id_to_submit.shape[0] == prep_df_with_submit:
    print("Number of submissions match the submissions in the prepared data?")
    print(f"{id_to_submit.shape[0]} == {prep_df_with_submit}") 
    print(f"{id_to_submit.shape[0] == prep_df_with_submit}")    
    print("Data preparation completed successfully")
else:
    print("Data preparation is not satisfactory, try changing the preparation settings")

del prep_cat, prep_nums, prep_days, prep_url, merge1, merge2, temp_df, prep_df_with_submit
gc.collect();

Data preparation part 0
loaded df.shape (32638709, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14368
-df_new with top_url (41593, 4030)
-new_submit.shape 14368
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_0 shape (41593, 4044)
save on disc.
-------------

Data preparation part 1
loaded df.shape (32423119, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14463
-df_new with top_url (41569, 3975)
-new_submit.shape 14463
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_1 shape (41569, 3989)
save on disc.
-------------

Data preparation part 2
loaded df.shape (32146620, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14366
-df_new with top_url (41334, 3935)
-new_submit.shape 14366
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_2 shape (41334, 3949)
save on disc.
-------------

Data preparation part 3
loaded df.shape (32156858, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14572
-df_new with top_url (41638, 3917)
-new_submit.shape 14572
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_3 shape (41638, 3931)
save on disc.
-------------

Data preparation part 4
loaded df.shape (32119163, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14315
-df_new with top_url (41285, 3901)
-new_submit.shape 14315
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_4 shape (41285, 3915)
save on disc.
-------------

Data preparation part 5
loaded df.shape (32300908, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14426
-df_new with top_url (41576, 3926)
-new_submit.shape 14426
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_5 shape (41576, 3940)
save on disc.
-------------

Data preparation part 6
loaded df.shape (32134423, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14485
-df_new with top_url (41460, 3919)
-new_submit.shape 14485
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_6 shape (41460, 3933)
save on disc.
-------------

Data preparation part 7
loaded df.shape (32523675, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14616
-df_new with top_url (41611, 4029)
-new_submit.shape 14616
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_7 shape (41611, 4043)
save on disc.
-------------

Data preparation part 8
loaded df.shape (32136680, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14623
-df_new with top_url (41682, 3831)
-new_submit.shape 14623
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_8 shape (41682, 3845)
save on disc.
-------------

Data preparation part 9
loaded df.shape (32319280, 12)

unite_cathegories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14490
-df_new with top_url (41559, 3958)
-new_submit.shape 14490
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_9 shape (41559, 3972)
save on disc.
-------------

Number of submissions match the submissions in the prepared data?
144724 == 144724
True
Data preparation completed successfully
Wall time: 30min 27s

0

---

In [26]:
def prep_data_parts():
    """
    ф-ция предобработки и сохранения данных.
    """
    
    id_to_submit = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{SUBMIT_FILE}').reset_index(drop=True)
    
    prep_df_with_submit = 0 # счётчик
    
    # Цикл предобработки и сохранения всех частей данных.
    for i in range(len(part_list)):
        print(f'Data preparation part {i+1}/10')

        # чтение данных
        temp_df = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{DATA_FILE}/{part_list[i]}')
        print(f"loaded df.shape {temp_df.shape}\n")

        # 1) Подготовка категориальных признаков и частей дня
        prep_cat = unite_categories(temp_df)

        # 2) Подготовка числовых признаков
        prep_nums = preparation_numbers(temp_df)

        # 3) Подготовка признаков от даты ко дню недели
        prep_days = add_day_names(temp_df)

        # 4) Отбор самых запрашиваемых URL
        prep_url = top_url_filter(temp_df, 70)

        # Объединение подготовленных данных по id
        merge1 = prep_cat.merge(prep_nums, how="inner", on=["user_id"])
        merge2 = merge1.merge(prep_days, how="inner", on=["user_id"])

        temp_df = prep_url.merge(merge2, how="inner", on=["user_id"])
        print("merge done")
        print(f"df.isna {temp_df.isna().sum().sum()}\n")

        # Запись подготовленного датасета в файл
        temp_df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}//preprocessed_part_{i}.parquet")

        # отслежиание за отсутствием потерей сабмитов после отбора признаков
        prep_df_with_submit += temp_df.merge(id_to_submit,
                                            how="inner",
                                            on=["user_id"]
                                           ).drop_duplicates(subset=["user_id"]).shape[0]

        print(f"preprocessed_data_part_{i} shape {temp_df.shape}\nsave on disc.")
        print("-------------\n")
        
        del temp_df, prep_cat, prep_nums, prep_days, prep_url, merge1, merge2

    if id_to_submit.shape[0] == prep_df_with_submit:
        print("Number of submissions match the submissions in the prepared data?")
        print(f"{id_to_submit.shape[0]} == {prep_df_with_submit}") 
        print(f"{id_to_submit.shape[0] == prep_df_with_submit}")    
        print("Data preparation completed successfully")
    else:
        print("Data preparation is not satisfactory, try changing the preparation settings")

#     del prep_cat, prep_nums, prep_days, prep_url, merge1, merge2, temp_df, prep_df_with_submit
    del prep_df_with_submit, id_to_submit

    gc.collect();

In [27]:
prep_data_parts()

Data preparation part 1/10
loaded df.shape (32638709, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14368
-df_new with top_url (41593, 4030)
-new_submit.shape 14368
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_0 shape (41593, 4044)
save on disc.
-------------

Data preparation part 2/10
loaded df.shape (32423119, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14463
-df_new with top_url (41569, 3975)
-new_submit.shape 14463
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_1 shape (41569, 3989)
save on disc.
-------------

Data preparation part 3/10
loaded df.shape (32146620, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14366
-df_new with top_url (41334, 3935)
-new_submit.shape 14366
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_2 shape (41334, 3949)
save on disc.
-------------

Data preparation part 4/10
loaded df.shape (32156858, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14572
-df_new with top_url (41638, 3917)
-new_submit.shape 14572
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_3 shape (41638, 3931)
save on disc.
-------------

Data preparation part 5/10
loaded df.shape (32119163, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14315
-df_new with top_url (41285, 3901)
-new_submit.shape 14315
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_4 shape (41285, 3915)
save on disc.
-------------

Data preparation part 6/10
loaded df.shape (32300908, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14426
-df_new with top_url (41576, 3926)
-new_submit.shape 14426
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_5 shape (41576, 3940)
save on disc.
-------------

Data preparation part 7/10
loaded df.shape (32134423, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14485
-df_new with top_url (41460, 3919)
-new_submit.shape 14485
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_6 shape (41460, 3933)
save on disc.
-------------

Data preparation part 8/10
loaded df.shape (32523675, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14616
-df_new with top_url (41611, 4029)
-new_submit.shape 14616
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_7 shape (41611, 4043)
save on disc.
-------------

Data preparation part 9/10
loaded df.shape (32136680, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14623
-df_new with top_url (41682, 3831)
-new_submit.shape 14623
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_8 shape (41682, 3845)
save on disc.
-------------

Data preparation part 10/10
loaded df.shape (32319280, 12)

unite_categories done
preparation_numbers done
add_day_names done
top_url_filter start
-submits in curr dataset 14490
-df_new with top_url (41559, 3958)
-new_submit.shape 14490
top_url_filter done

merge done
df.isna 0

preprocessed_data_part_9 shape (41559, 3972)
save on disc.
-------------

Number of submissions match the submissions in the prepared data?
144724 == 144724
True
Data preparation completed successfully

## 3. Cоздание общего датасета для обучения.

### 3.1.  Cоединение всех частей в единый датасет.

In [28]:
list_data_dir  = os.listdir(path=f'./{LOCAL_DATA_PATH}/preprocessed_data')
# list_data_dir

In [35]:
list_data_prep = []

for i in range(len(list_data_dir)):
    if 'preprocessed_part' in list_data_dir[i]:
        list_data_prep.append(list_data_dir[i])
        
list_data_prep

['preprocessed_part_0.parquet',
 'preprocessed_part_1.parquet',
 'preprocessed_part_2.parquet',
 'preprocessed_part_3.parquet',
 'preprocessed_part_4.parquet',
 'preprocessed_part_5.parquet',
 'preprocessed_part_6.parquet',
 'preprocessed_part_7.parquet',
 'preprocessed_part_8.parquet',
 'preprocessed_part_9.parquet']

In [42]:
# temp_df = pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/{list_data_prep[i]}')

pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/{list_data_prep[1]}')

,user_id,-1,03online.com,1,1000.menu,1000bankov.ru,1001goroskop.ru,100biografiy.ru,100cards.ru,100realt.ru,...,evening,morning,night,fri,mon,sat,sun,thu,tue,wed
0,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,136.0,114.0,146.0,72.0,26.0,65.0,56.0,81.0,66.0,95.0
1,11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,222.0,10.0,79.0,86.0,59.0,18.0,94.0,98.0,137.0
2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,347.0,453.0,28.0,203.0,236.0,107.0,63.0,312.0,158.0,292.0
3,49,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,786.0,330.0,113.0,221.0,246.0,184.0,161.0,320.0,209.0,307.0
4,51,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,146.0,104.0,32.0,80.0,47.0,82.0,81.0,80.0,47.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41564,415279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0
41565,415294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
41566,415299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
41567,415301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0
41568,415313,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [33]:
%%time

all_prep_parts = []
size = 0

for i in range(len(list_data_prep)):
    print(f'Loaded prep part {i}')
    # Чтение
    temp_df = pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/{list_data_prep[i]}')
    
    # Уменшение памяти
    temp_df = temp_df.astype(np.int32(0), errors='ignore')

    all_prep_parts.append(temp_df) 
    
# Соединение всех частей
all_df = pd.concat(all_prep_parts, ignore_index = True)
print(f'\nconcat {all_df.shape}\nall_df.isna() = {all_df.isna().sum().sum()}')
all_df.info()

all_df = all_df.fillna(value=np.int32(0))
print(f'\nfillna\nall_df.isna() = {all_df.isna().sum().sum()}')
all_df.info()

all_df = all_df.astype(np.int32, errors='ignore')
all_df[['cpe_manufacturer_name',
        'cpe_model_os_type']] = all_df[['cpe_manufacturer_name',
                                        'cpe_model_os_type']].astype('category')
print(f"\nastype(np.int32) + .astype('category')")
all_df.info()

# Запись подготовленного общего датасета в файл
all_df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet")
print('all_prep_data was saved to file successfully')

del temp_df, all_df
gc.collect();

Loaded prep part 0
Loaded prep part 1
Loaded prep part 2
Loaded prep part 3
Loaded prep part 4
Loaded prep part 5
Loaded prep part 6
Loaded prep part 7
Loaded prep part 8
Loaded prep part 9

concat (415307, 6137)
all_df.isna() = 905735976
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415307 entries, 0 to 415306
Columns: 6137 entries, user_id to znamenitosti.info
dtypes: float64(3175), int32(2960), object(2)
memory usage: 14.4+ GB

fillna
all_df.isna() = 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415307 entries, 0 to 415306
Columns: 6137 entries, user_id to znamenitosti.info
dtypes: float64(3175), int32(2960), object(2)
memory usage: 14.4+ GB

astype(np.int32) + .astype('category')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415307 entries, 0 to 415306
Columns: 6137 entries, user_id to znamenitosti.info
dtypes: category(2), int32(6135)
memory usage: 9.5 GB
all_prep_data was saved to file successfully
Wall time: 3min 35s

0

---

In [29]:
def merge_parts():
    """
    требуется много оператиной памяти (32гб + 60гб виртуальной)
    рекомендую использовать уже объединенные данные
    """
    
    # load
    list_data_dir  = os.listdir(path=f'./{LOCAL_DATA_PATH}/preprocessed_data')
    
    # список с предобработанными данными
    list_data_prep = []

    for i in range(len(list_data_dir)):
        if 'preprocessed_part' in list_data_dir[i]:
            list_data_prep.append(list_data_dir[i])

    # Счётчики
    all_prep_parts = []
#     size = 0

    for i in range(len(list_data_prep)):
        print(f'Loaded prep part {i}')
        # Чтение
        temp_df = pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/{list_data_prep[i]}')

        # Уменшение памяти
        temp_df = temp_df.astype(np.int32(0), errors='ignore')
        
        # массив со всеми данными для объединения
        all_prep_parts.append(temp_df) 
    
    del list_data_prep, temp_df, list_data_dir
    
    # Соединение всех частей
    all_df = pd.concat(all_prep_parts, ignore_index = True)
    print(f'\nconcat {all_df.shape}\nall_df.isna() = {all_df.isna().sum().sum()}')
    del all_prep_parts
    
    # работа с пропусками и размерами данных
    all_df = all_df.fillna(value=np.int32(0))
    print(f'\nfillna\nall_df.isna() = {all_df.isna().sum().sum()}')

    all_df = all_df.astype(np.int32, errors='ignore')
    all_df[['cpe_manufacturer_name',
            'cpe_model_os_type']] = all_df[['cpe_manufacturer_name',
                                            'cpe_model_os_type']].astype('category')
    print(f"\nastype(np.int32) + .astype('category')")

    # Запись подготовленного общего датасета в файл
    all_df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet")
    print('all_prep_data was saved to file successfully')

    del all_df
    gc.collect();

In [30]:
merge_parts()

Loaded prep part 0
Loaded prep part 1
Loaded prep part 2
Loaded prep part 3
Loaded prep part 4
Loaded prep part 5
Loaded prep part 6
Loaded prep part 7
Loaded prep part 8
Loaded prep part 9

concat (415307, 6137)
all_df.isna() = 905735976

fillna
all_df.isna() = 0

astype(np.int32) + .astype('category')
all_prep_data was saved to file successfully

In [36]:
# # # Проверка на наличие пропусков в основных признаках
# all_df[['user_id','cpe_manufacturer_name', 'cpe_model_os_type', 'price',
#        'day', 'evening', 'morning', 'night', 'fri', 'mon', 'sat', 'sun', 'thu',
#        'tue', 'wed']]#.isna().sum()#.sum()

---
## 3.2. Датасет для предсказаний по id_to_submit.

id_to_submit - id по которым нужно сделать предсказания


df_submit - all_prep_data

In [38]:
# load
id_to_submit = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{SUBMIT_FILE}').reset_index(drop=True) 
df_submit = pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet')

# merge id_to_submit и all_prep_data по "user_id"
# Соединяю все полученные данные с искомыми id из сабмита для фин. пресдказаний
df_submit = df_submit.merge(id_to_submit, how="inner", on=["user_id"])

# save
df_submit.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/df_submit.parquet")
print('df_submit was saved to file successfully')

df_submit was saved to file successfully

Сравнение количества полученных id из предобработанного датасета с количеством в заданном датасете на наличие потерь

In [40]:
id_to_submit.shape[0] == df_submit.shape[0]

True

In [41]:
df_submit.info()
del df_submit, id_to_submit
gc.collect();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144724 entries, 0 to 144723
Columns: 6137 entries, user_id to znamenitosti.info
dtypes: category(2), int32(6135)
memory usage: 3.3 GB

---

In [6]:
def merge_submits():
    """
    Датасет для предсказаний.
    id_to_submit - id по которым нужно сделать предсказания
    df_submit - all_prep_data
    """
    # load
    id_to_submit = pd.read_parquet(f'{LOCAL_DATA_PATH_mts}/{SUBMIT_FILE}').reset_index(drop=True) 
    df_submit = pd.read_parquet(f'{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet')

    # merge id_to_submit и all_prep_data по "user_id"
    # Соединяю все полученные данные с искомыми id из сабмита для требуемых пресдказаний
    df_submit = df_submit.merge(id_to_submit, how="inner", on=["user_id"])

    # save
    df_submit.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/df_submit.parquet")
    print('df_submit was saved to file successfully')
    
    del id_to_submit, df_submit
    gc.collect();

In [7]:
merge_submits()

df_submit was saved to file successfully

## 3.3. Датасет для обучениия с целевой переменной.

# туть

In [31]:
# load
all_df = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet")
targets = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_age_prep.parquet")

# объединение targets и all_prep_data
# для первичного обучения моделей
df = all_df.merge(targets, how="inner", on=["user_id"])

# save
# Запись prep. данных с учителем после общего объединения
df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/prep_data_with_targets_age.parquet")
print('df_with_targets was saved to file successfully')

df_with_targets was saved to file successfully

In [32]:
df.info()
del all_df, df, targets
gc.collect();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 268912 entries, 0 to 268911
Columns: 6138 entries, user_id to age_target
dtypes: category(2), int32(6135), int8(1)
memory usage: 6.1 GB

In [33]:
# load
all_df = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet")
targets = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_is_male_prep.parquet")

# объединение targets и all_prep_data
# для первичного обучения моделей
df = all_df.merge(targets, how="inner", on=["user_id"])

# save
# Запись prep. данных с учителем после общего объединения
df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/prep_data_with_targets_is_male.parquet")
print('df_with_targets was saved to file successfully')

df_with_targets was saved to file successfully

In [34]:
df.info()
del all_df, df, targets
gc.collect();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263499 entries, 0 to 263498
Columns: 6138 entries, user_id to is_male
dtypes: category(2), int32(6135), int8(1)
memory usage: 6.0 GB

---
## 4. EDA parts.

#### Продолжение в следующем ноутбуке =)

для удобства исследования создаю общий датасет с гендером и возрастом отбросив 5413 значений

In [12]:
# Объединение таргетов
targets1 = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_age_prep.parquet")
targets2 = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/targets_is_male_prep.parquet")
targets_df = targets1.merge(targets2, how="inner", on=["user_id"])

# Объединение таргетов с предоббработанным датасетом
all_df = pd.read_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/all_prep_data.parquet")
df = all_df.merge(targets_df, how="inner", on=["user_id"])

# Запись
df.to_parquet(f"{LOCAL_DATA_PATH}/{PREP_DATA}/prep_data_with_2_targets.parquet")
print('df_with_targets was saved to file successfully')

df_with_targets was saved to file successfully

In [5]:
df.isna().sum().sum()

0

In [15]:
df.info()
del targets1, targets2, targets_df, df, all_df
gc.collect();

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263499 entries, 0 to 263498
Columns: 6139 entries, user_id to is_male
dtypes: category(2), int32(6135), int8(2)
memory usage: 6.0 GB